
<!-- Navigation -->
  <nav  th:fragment="navbar">
    <ul>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">HOME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" th:href="@{/categories}">CATEGORIES</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cart}">CART</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/checkouts}">CHECKOUTS</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" th:href="@{/about}">ABOUT US</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" th:href="@{/contact}">CONTACT</a>
      </li>
    </ul>
  </nav> 